            <!DOCTYPE html>
<html lang="da">
    
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    
    <body>
        <h1>{{tekst}}</h1>
        <form action="loginpage" method="post">
            <input name="brugernavn" type="text" />
            <input name="adgangskode" type="password" />
            <button type="submit">Login</button>
        </form>
    </body>  
</html>