            <!DOCTYPE html>
<html lang="da">
    
    <head>
        <meta charset="UTF-8">
        <title>Galgeleg</title>
    </head>
    
    <body>
        <h1>Synligt ord:</h1>
        <h1>{{synligtOrd}}</h1>
        <p>Gæt et bogstav</p>
        <form action="spil" method="post">
            <input name="bogstav" type="text"/>
            <button type="submit">Gæt</button>
        </form>
        <p>Brugte bogstaver: {{brugte}}</p>
        <p>Antal forsøg: {{forsøg}}</p>
        
    </body>
    
</html>
