            <!DOCTYPE html>
<html lang="da">
    
    <head>
        <meta charset="UTF-8">
        <title>Galgeleg</title>
    </head>
    
    <body>
        <h1>Velkommen Til Galgespillet!</h1>
        
        <p>Et tilfældigt ord bliver valgt. Din opgave er at gætte ordet... men pas på! </br></p>
        <p>Gætter du for mange bogstaver forkert, dør manden. Kan du mærke presset?!</p>
        <form action="loginpage" method="get">
            <button>Start Spil</button>
        </form>
    </body>
</html>